name: ChordPro Workflow
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.38.2'
          install-modules-with: cpanm
          install-modules: |
            XS::Parse::Sublike::Builder
            Object::Pad@0.818
            chordpro@6.050.7

      - name: Check that ChordPro and ExifTool are installed
        run: |
          chordpro --version

      - name: Make setlists.
        run: |
          chmod +x make-setlist.sh
          ./make-setlist.sh

      - name: Make index pages.
        run: |
          chmod +x scripts/make-index.sh
          chmod +x scripts/make-index-interior.sh
          ./scripts/make-index.sh

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./setlists
